@function hextorgb($hex) {
  @return red($hex), green($hex), blue($hex);
}

:root {
  --c-accent: #008447;
  // --c-accent: #40b9ca;
  --c-accent-rgb: #{hextorgb(#008447)};
  --c-accent-light: #97cfb5;
  --c-default: #444;
  --c-default-rgb: #{hextorgb(#444)};
  --c-deafult-light: #676767;
  --c-deafult-light-rgb: #{hextorgb(#676767)};
  --c-bg: #fff;
  --c-bg-rgb: #{hextorgb(#fff)};
  --c-link: #000;
}

.dark-mode {
  --c-accent: #18bf7f;
  // --c-accent: #5ebeca;
  --c-accent-rgb: #{hextorgb(#18bf7f)};
  --c-accent-light: #065c3b;
  --c-default: #fff;
  --c-default-rgb: #{hextorgb(#fff)};
  --c-deafult-light: #aaa;
  --c-deafult-light-rgb: #{hextorgb(#aaa)};
  --c-bg: #121212;
  --c-bg-rgb: #{hextorgb(#121212)};
  --c-link: #eaeaea;
}

.light-mode {
  --c-accent: #008447;
  --c-accent-rgb: #{hextorgb(#008447)};
  --c-accent-light: #97cfb5;
  --c-default: #444;
  --c-default-rgb: #{hextorgb(#444)};
  --c-deafult-light: #676767;
  --c-deafult-light-rgb: #{hextorgb(#676767)};
  --c-bg: #fff;
  --c-bg-rgb: #{hextorgb(#fff)};
  --c-link: #000;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-size: #{($browser-context) + px};
  @media (max-width: $small) {
    font-size: 14px;
  }
}

body {
  font-family: $f-text;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  overflow-x: hidden;
  // color: $c-default;
  color: var(--c-default);
  background-color: var(--c-bg);
  transition: background-color 0.25s;
}

#__layout {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
ol {
  margin: 0;
}

a {
  transition: 0.25s;
  &:hover {
    transform: translateY(-0.5%);
  }
  &:active {
    transform: translateY(0.5%);
  }
}

button {
  cursor: pointer;
  transition: 0.25s;
  &:active {
    opacity: 0.25;
  }
}

.page {
  position: relative;
  width: 100%;
  padding: 25px 0;
}

.padded-page {
  padding: 80px 0 100px !important;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  @include wide-tablet {
    max-width: 1170px;
    padding: 0;
  }
}

.container--full {
  width: 100%;
  padding: 0 15px;
}
